@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
  --brand-color: #03a9f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}
main {
  padding: 20px 20px 40px;
  min-height: 100vh;
}
h1 {
  font-size: 40px;
  padding: 40px 10px;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}
/* Medium devices (tablets)*/
@media (min-width: 768px) {
  h1 {
    padding: 60px 10px;
  }
}
/* Large devices (desktops)*/
@media (min-width: 992px) {
}
/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
}
